[submodule "DeepLearnToolbox"]
	path = DeepLearnToolbox
	url = https://github.com/tambetm/DeepLearnToolbox.git
[submodule "Whetlab-Matlab-Client"]
	path = Whetlab-Matlab-Client
	url = https://github.com/whetlab/Whetlab-Matlab-Client.git
